.container-1NXEtd {
    background: transparent;
    .scroller-1ox3I2{
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .spine-29OFwR+div .name-28HaxV {
        margin-left: 30px;
    }
    .containerDefault-YUSmu3{
        &.selected-2TbFuo,&:hover {
            .content-1gYQeQ{
                border-left: var(--main-color) 2px solid;
                .icon-2W8DHg{
                    color: var(--main-color);
                }
            }
        }
        .content-1gYQeQ{
            margin-left: 0;
            margin-right: 17px;
            border-radius: 0;
            border-left: transparent 2px solid;
        }
        .list-2luk8a {
            padding-left: 8px;
            padding-right: 16px;
        }
        .unread-2lAfLh{
            display: none;
        }
    }
}