.sidebar-2K8pFh {
    position: relative;
    @import './privatechannels.scss';
    @import './channels.scss';
    @import './discover.scss';
    @import './panel.scss';
    @import './category.scss';
    background: transparent;
    .container-3fNISf {
        margin: -8px 8px 0 8px;
    }
    &::after{
        content: '';
        background: var(--primary-background);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        opacity: var(--channel_opacity);
    }
}