.panels-j1Uci_ {
    background: transparent;
    &>*{
        position: relative;
    }
    &>.container-3baos1{
        height: 0;
        -webkit-app-region: none;
        &:hover {
            .flex-1xMQg5 * , .avatarWrapper-2yR4wp{
                display: unset !important;
            }
        }
        .avatarWrapper-2yR4wp{
            position: fixed;
            right: 0;
            z-index: 1;
            display: none;
            top: 136px;
            foreignObject{
                mask: none;
                border-radius: 0 0 4px 4px;
            }
        }
        .canCopy-2VBT7N{
            display: none;
        }
        .flex-1xMQg5{
            position: fixed;
            right: 8px;
            flex-direction: column-reverse;
            background: var(--secondary-background-alt);
            border-radius: 4px 4px 0 0;
            top: 8px;
            &::after {
                content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgb(185,187,190)" d="M39 30c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6S42.309 30 39 30zM9 30c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6S12.309 30 9 30zM24 30c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6S27.309 30 24 30z"></path></svg>') !important;
                width:  26px;
                height: 26px;
                padding: 3px;
            }
            * {
                display: none;
            }
        }
    }
}