.privateChannels-1nO12o {
    background: transparent;
    .scroller-1JbKMe {
        background: transparent;
        margin-right: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        .privateChannelsHeaderContainer-3NB1K1 {
            position: relative;
            &::after{
                content: '';
                left: 0;
                width: 223px;
                height: 1px;
                position: absolute;
                top: 10px;
                background: var(--border2);
            }
            &~.channel-2QD9_O {
                margin: 0;
                .layout-2DM8Md {
                    border-radius: 0;
                    border-left: 2px solid transparent;
                }
                &.selected-aXhQR6, &:hover {
                    .layout-2DM8Md {
                        border-radius: 0;
                        border-left: 2px solid var(--main-color);
                        .closeIcon-rycxaQ{
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
        .content-3YMskv {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            a {
                &:not([href*="/channels/@me/"]) {
                    flex-grow: 1;
                    margin-top: 8px !important; 
                    margin-left: 0;
                    &:first-of-type {
                        margin-left: 8px !important;
                    }
                    .layout-2DM8Md {
                        justify-content: center;
                        padding: 0 !important;
                    }
                    .avatar-3uk_u9 {
                        margin: 0 !important;
                    }
                    .content-3QAtGj {
                        display: none;
                    }
                    .children-gzQq2t {
                        position: absolute;
                        transform: translate(4px, 8px);
                        border-radius: 100px;
                    }
                }
                &[href*="/channels/@me/"] {
                    width: 100%;
                }
            }
            h2 {
                width: 100%;
            }
        }
    }
}