.messagesWrapper-RpOMA3 {
    margin-bottom: 10px;
    .scroller-kQBbkU {
        &::-webkit-scrollbar {
            display: none;
        }
        @import './mention.scss';
        @import './regular.scss';
        @import './system.scss';
        .embedWrapper-1MtIDg {
            background: var(--secondary-background-alt);
        }
        .wrapper-3HVHpV {
            background: transparent;
            box-shadow: unset;
            &>div{
                margin-left: 8px;
                box-shadow: var(--elevation-stroke);
                border-radius: 16px;
                background: var(--secondary-background-alt);
                border: none;
                height: 24px;
            }
        }
    }
}