.mentioned-xhSam7 {
    background: transparent;
    &::before {
        background: var(--main-color);
    }
    &::after{
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: var(--main-color);
        opacity: .2;
        z-index: -1;
    }
}