.message-2CShn3:not(.systemMessage-1H1Z20)>div>.markup-eYLPri.messageContent-2t3eCI:not(:empty) {
    background: var(--background-tertiary2);
    margin-left: 0;
    padding-left: 0;
    width: fit-content;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    blockquote, pre{
        max-width: 100%;
    }
}