.systemMessage-1H1Z20{
    &>div{
        width: fit-content;
        margin: auto;
        &>.markup-eYLPri.messageContent-2t3eCI:not(:empty) {
            background: var(--background-tertiary2);
            margin-left: 0;
            padding-left: 0;
            width: fit-content;
            padding: 4px 8px;
            border-radius: 4px;
            display: inline-block;
        }
    }
    .welcomeCTAButtonOuter-3pJkMq {
        margin: auto;
    }
}