.chat-2ZfjoI {
    border-left: var(--border) 2px solid;
    .content-1jQy2l{
        background: var(--primary-background);
        &::before{
            display: none;
        }
    }
    &+div::after {
        content: "";
        background: var(--primary-background);
        top: 0;
        left: -10px;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        opacity: var(--channel_opacity);
    }
    &:not(.threadSidebarOpen-1LSXvU) .chatContent-3KubbW {
        border-right: var(--border) 2px solid;
    }
    .wrapper-3vR61M, .wrapper-1F5TKx {
        background: var(--primary-background) !important;
    }
    @import './form/import.scss';
    @import './search/import.scss';
    @import './jump\ to\ present.scss';
}
@import './toolbar/import.scss';
@import './memberslist/index.scss';
@import './messages/import.scss';