.jumpToPresentBar-1cEnH0{
    visibility: hidden;
    bottom:15px;
    .barButtonIcon-bMvzp2{
        border: var(--border) 2px solid;
        visibility: visible;
        padding:2px;
        background-color: var(--background-tertiary2);
        border-radius: 50%;
        transform: scale(1.7);
        &:hover,&:focus{
            opacity: .4;
        }
    }
}