.emojiButton-3uL3Aw {
    width: 36px;
    .contents-18-Yxp {
        top:    0;
        bottom: 0;
        right: 0;
        left:   0;
        position: absolute;
        background: var(--interactive-normal);
        content: '';
        -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="30" height="30" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="none"><path d="M6.25 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5z" fill="currentColor"></path><path d="M6.136 9.667a.5.5 0 1 0-.745.667A3.493 3.493 0 0 0 8 11.5a3.493 3.493 0 0 0 2.609-1.166a.5.5 0 0 0-.745-.667A2.492 2.492 0 0 1 8 10.5c-.74 0-1.405-.321-1.864-.833z" fill="currentColor"></path><path d="M10.5 7A.75.75 0 1 1 9 7a.75.75 0 0 1 1.5 0z" fill="currentColor"></path><path d="M14 8A6 6 0 1 0 2 8a6 6 0 0 0 12 0zM3 8a5 5 0 1 1 10 0A5 5 0 0 1 3 8z" fill="currentColor"></path></g></svg>');
        -webkit-mask-position: 3px 8px;
        -webkit-mask-repeat: no-repeat;
        &:hover {
            background: var(--interactive-hover);
        }
        &>div {
            display: none;
        }
    }
}