.attachedBars-tZDmyV{
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    border-radius: 8px !important;
    border: var(--border) 2px solid;
    .replyBar-1YLQ2F{
        border-radius: 8px !important;
    }
}