.attachedBars-2BCP3l{
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    border-radius: 8px !important;
    border: var(--border) 2px solid;
    .replyBar-1oi75v{
        border-radius: 8px !important;
    }
}