/**
 * @name Fluentcord
 * @author Doggybootsy#0001
 * @version 1.0
 * @description A theme based on Fluentcord
 * @source https://github.com/doggybootsy/Fluentcord
 */

@import url('https://doggybootsy.github.io/FluentCord/source.css');

html {
    --primary-background: #2e3136;
    --secondary-background: #2d3035;
    --secondary-background-alt: #2a2b2f;
    --background-tertiary2: #383d43;
    --border: #202022;
    --border2: #4f5257;
    --main-color: #7289DA;
    --guilds_opacity: 0.95;
    --channel_opacity: 0.95;
    /* DONT TOUCH */
    --version-1-0-0: none;
  }