.membersWrap-3NUR2t{
    background-color: var(--secondary-background);
    .members-3WRCEx{
        &::-webkit-scrollbar{
            display: none;
        }
        .membersGroup-2eiWxl{
            position: relative;
            background-color: var(--secondary-background);
            &::after{
                content: '';
                left: 10px;
                width: 220px;
                height: 1px;
                position: absolute;
                top: 10px;
                background: var(--border2);
            }
        }
    }
}