.container-1r6BKw.themed-ANHk51 {
    background: var(--secondary-background-alt);
    z-index: 0;
    border-bottom: var(--border) 2px solid;
    height: 50px;
    .children-19S4PO::after{
        background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--secondary-background-alt));                                    
    }
    .toolbar-1t6TWx {
        @import './search.scss';
        @import './pinned\ messages.scss';
        @import './start\ voice\ call.scss';
        @import './remove.scss';
    }
}
.chat-3bRxxu {
    &.threadSidebarOpen-vdkwIh+div .toolbar-1t6TWx {
            margin-right: 40px;
    }
    &:not(.threadSidebarOpen-vdkwIh) .toolbar-1t6TWx {
        margin-right: 40px;
    }
}
@import './inbox.scss';