.search-39IXmY {
    order: 1;
    .iconContainer-1RqWJj{
        bottom: 4px;
        .icon-18rqoe{
            transition: all 0.6s ease;
        }
    }
    .search-2Mwzzq{
        &:not(.open-1F8u2c) .searchBar-jGtisZ {
            width: 28px;
            transition: all 0.2s ease-in-out;
            background: none;
            .icon-18rqoe{
                color:var(--interactive-normal);
                height: 23px;
                width: 23px;
                transform: translateX(-3px);
            }
        }
        &.open-1F8u2c .searchBar-jGtisZ{
            width: 240px;
            background: var(--primary-background);
            transition: all 0.6s ease-in-out;
            .icon-18rqoe{
                height: 16px;
                width: 16px;
                top:4px;
            }
        }
    }
}