.search-36MZv- {
    order: 1;
    .iconContainer-O4O2CN{
        bottom: 4px;
        .icon-3cZ1F_{
            transition: all 0.6s ease;
        }
    }
    .search-2oPWTC{
        &:not(.open-6_Y_aH) .searchBar-3dMhjb {
            width: 28px;
            transition: all 0.6s ease-in-out;
            background: none;
            .icon-3cZ1F_{
                color:var(--interactive-normal);
                height: 23px;
                width: 23px;
                transform: translateX(-3px);
            }
        }
        &.open-6_Y_aH .searchBar-3dMhjb{
            width: 240px;
            background: var(--primary-background);
            transition: all 0.6s ease-in-out;
            .icon-3cZ1F_{
                height: 16px;
                width: 16px;
                top:4px;
            }
        }
    }
}