.layerContainer-yqaFcK{
    width: calc(100vw - 72px);
    margin-left: 72px;
    visibility: hidden;
    &>* {
        visibility: visible;
    }
    @import './users.scss';
    @import './modals.scss';
    @import './perks.scss';
    @import './menus.scss';
}