.focusLock-2tveLW {
    .avatar-3QF_VA {
        border: 8px solid #1c1c1d;
        background-color: #1c1c1d;
        left: 220px;
    }
    .body-1Ukv50, .topSection-13QKHs {
        background-color: #1c1c1d;
    }
}