.focusLock-Ns3yie {
    .avatar-AvHqJA {
        border: 8px solid #1c1c1d;
        background-color: #1c1c1d;
        left: 220px;
    }
    .body-r6_QPy, .topSection-y3p-_D {
        background-color: #1c1c1d;
    }
    .modal-3O0aXp {
        background: var(--primary-background);
    }
}