.userPopout-2j1gM4{
    background: #1c1c1d;
    .bodyInnerWrapper-2bQs1k, .footer-3naVBw {
        background: #1c1c1d;
    }
    .avatar-2Vndt_ {
        border: 6px solid #1c1c1d;
        background-color: #1c1c1d;
        &>*{
            transform: translateX(1px);
        }
        &+* {
            transform: translateX(1px);
        }
    }
    .note-Go5ZP2 ~ div > textarea{
        font-size: .85em;
    }
    .avatarWrapper-eenWra {
        left: 100px;
    }
    .profileBadges-2pItdR {
        max-width: 92px;
    }
    .headerTag-3GXZkV {
        width: fit-content;
        margin: auto;
    }
    .customStatus-3XAoF9, .nickname-t08Mck {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .role-2TIOKu {
        position: relative;
        border-radius: 6px;
        .roleCircle-1EgnFN {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: unset;
            height: unset;
            margin: 0;
            border-radius: 5px;
            z-index: 0;
            opacity: .4;
            &:not(:empty):hover {
                z-index: 2;
                opacity: 1;
                cursor: pointer;
            }
            &+div {
                z-index: 1;
                margin: 0;
            }
        }
    }
}