.libraryHeader-2loraV~.scrollerBase-_bVAAt, .stickyHeader-fX4ei6, .headerBar-1YYOfi~.scroller-2XLwLg{
    background: var(--primary-background);
    &::-webkit-scrollbar {
        display: none;
    }
}
.peopleList-2VBrVI::-webkit-scrollbar{
    display: none;
}
.applicationStore-2nk7Lo > div > .scroller-29cQFV{
    background: var(--primary-background);
    border-left: var(--border) 2px solid;
}
#app-mount .vz-dashboard {
    background-color: var(--primary-background);
    border-left: var(--border) 2px solid;
    .vz-dashboard-home .vz-wave-divider {
        color: var(--primary-background);
    }
    .vz-dashboard-home-features-icon-wrapper.vz-icon-wrapper {
        border: 20px solid var(--primary-background);
    }
    .vz-dashboard-home-features-card:hover .vz-dashboard-home-features-icon-wrapper,
    .vz-dashboard-settings-search-outer-wrapper {
        background-color: var(--primary-background);
    }
}
.pageWrapper-1PgVDX > .scroller-1d5FgU{
    background: var(--primary-background);
    .footer-2jdoRS{
        padding-bottom: 20px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.nowPlayingColumn-1eCBCN{
    background-color: var(--secondary-background);
    .container-1oAagU{
        background-color: var(--secondary-background);
        .scroller-hE2gWq{
            border-left: 2px solid var(--border);
        }
    }
}
.container-2cd8Mz {
    border-left: var(--border) 2px solid;
}
.tabBody-2dgbAs{
    background: var(--primary-background);
    &::before{
        display: none;
    }
}