.contentRegionScroller-2_GT_N {
    background: var(--primary-background);
    border-left: var(--border) 2px solid;
    .item-3XjbnG, .connection-YOVI9j, .guild-Hq0WWA, .paymentPane-ut5qKZ {
        border: 2px solid var(--border);
    }
    // No premium idk the classes
    // .banner-2QYc2d.bannerPremium-2hSAwz{
    //     height: 240px;
    //     &+.userInfo-iCloHO>.avatar-1uQSZT{
    //         top: 200px;
    //     }
    // }
}