.layer-86YKbF{
    &:last-child:not(:first-child) {
        width: calc(100vw - 72px);
        margin-left: 72px;
        &::before {
            content: '';
            position: fixed;
            left: 292px;
            top: 0;
            right: 102px;
            height: 32px;
            -webkit-app-region: drag;
        }
        .standardSidebarView-E9Pc3j{
            background: transparent;
            @import './bd.scss';
            @import './content.scss';
            @import './sidebar.scss';
        }
    }
    &.animating-1rIrGV *, &.animating-1rIrGV{
        pointer-events: auto !important;
        will-change: unset;
    }
    &:not(:only-child) .base-2jDfDU {
        display: none;
    }
}
