.sidebarRegion-1VBisG {
    flex: 0 0 auto;
    position: relative;
    &::after{
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: var(--primary-background);
        opacity: var(--channel_opacity);
        z-index: -1;
    }
    .sidebarRegionScroller-FXiQOh {
        background: transparent;
        &::-webkit-scrollbar {
            display: none;
        }
        .info-1VyQPT .colorMuted-HdFt4q:nth-child(2)::after {
            content: '\a''Fluentcord 1.0.0 ' var(--version-type, 'Stable');
            white-space: pre;
        }
        .sidebar-CFHs9e{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            .item-PXvHYJ {
                border-radius: 0;
                border-left: 2px solid transparent;
                &:hover, &.selected-3s45Ha {
                    border-left: 2px solid var(--main-color);
                }
            }
        }
    }
}