.appMount-3lHmkl, body,.wrapper-1Rf91z,
.scroller-2TZvBN,.tree-3tCaw8,.container-3w7J-x,
.app-2rEoOp,.bg-h5JY_x,.sidebar-2K8pFh,.scroller-1JbKMe,.privateChannels-1nO12o{
    background: #1a191a28 !important;
}

.chatContent-a9vAAp,.messagesWrapper-1sRNjr,.messagesWrapper-1sRNjr>div,.scrollerContent-WzeG7R{
    background: var(--primary-background);
}
.content-yTz4x3:before,.form-2fGMdU:before,.children-19S4PO:after{display: none;}

 .members-1998pB>div{
    background: var(--secondary-background);
    border-left: var(--border) 1px solid;
}
.container-1r6BKw.themed-ANHk51{
    background: var(--secondary-background-alt);
    border-bottom: var(--border) 1px solid;
}
.container-1taM1r,.searchBar-6Kv8R2{
    background: var(--secondary-background-alt);
}

.guilds-1SWlCJ .scroller-2TZvBN {
  margin-top: 65px !important;
  margin-bottom: 120px !important;
}.unreadMentionsIndicatorTop-gA6RCh {
  top: 60px;
}
.unreadMentionsIndicatorBottom-BXS58x{
  bottom: 110px;
}
.tutorialContainer-1v44GL {
    position: fixed;
    top: 010px;
    left: 0px;
  z-index: 100;
}
.tutorialContainer-SGrQ1h{
    position: fixed;
    bottom: 054px;
    left: 0px;
  z-index: 100;
}
.tutorialContainer-SGrQ1h+.listItem-2P_4kh{
    position: fixed;
    bottom: 03px;
    left: 0px;
  z-index: 100;
}