.attachWrapper-2TRKBi{
  order:1;
  margin-left:13px;
}
.attachButton-2WznTc {
  padding-right:10px
}

.buttonContainer-28fw2U>.button-38aScr:not([class*="emojiButton"]):not([aria-label="Open GIF picker"]),[aria-label="Send a gift"]{
    display: none;
}
.buttons-3JBrkn{
    border-left: 1px gray solid;
}

