.menu-3sdvDG {
  border-radius: 10px;
  .scroller-3BxosC {
    padding: 0;
    border-radius: 10px;
    .labelContainer-1BLJti {
      margin: 0;
      border-radius: 0;
    }
    &::-webkit-scrollbar, [role="separator"] {
      display: none;
    }
  }
  [id="message-actions-pin"] {
    path {
      d: path("M 18.490234 3.9882812 A 1.50015 1.50015 0 0 0 17.685547 4.2402344 C 11.858859 8.0105649 7.3440265 12.509956 4.2128906 17.728516 A 1.5006126 1.5006126 0 1 0 6.7871094 19.271484 C 7.0116514 18.897248 7.2968064 18.552264 7.5371094 18.185547 C 8.3297502 19.01346 13.716739 24.640715 16.066406 27.095703 C 16.169734 27.203716 16.216708 27.337956 16.195312 27.511719 L 16.197266 27.511719 C 16.067101 28.563422 16.004391 29.674443 16 30.492188 C 15.98569 33.39309 16.750905 36.045436 18.097656 38.269531 C 19.283005 40.226735 22.058785 40.513481 23.658203 38.914062 L 30.226562 32.347656 L 40.439453 42.560547 A 1.50015 1.50015 0 1 0 42.560547 40.439453 L 32.347656 30.226562 L 38.914062 23.658203 C 40.513481 22.058785 40.226735 19.283005 38.269531 18.097656 C 36.045391 16.751554 33.394252 15.986053 30.494141 16 L 30.492188 16 C 29.637805 16.0038 28.599773 16.121762 27.611328 16.275391 C 27.439998 16.301921 27.287467 16.251531 27.175781 16.144531 L 18.257812 7.6054688 C 18.644754 7.3393819 18.913153 7.0194385 19.314453 6.7597656 A 1.50015 1.50015 0 0 0 18.490234 3.9882812 z M 15.892578 9.4960938 L 25.101562 18.310547 C 25.895878 19.071545 27.001644 19.405706 28.070312 19.240234 A 1.50015 1.50015 0 0 0 28.070312 19.238281 C 28.958606 19.100212 29.943143 19.002381 30.505859 19 A 1.50015 1.50015 0 0 0 30.507812 19 C 32.876913 18.98831 34.9575 19.600476 36.714844 20.664062 C 37.02964 20.854713 37.071546 21.258528 36.792969 21.537109 L 21.537109 36.792969 C 21.258476 37.071551 20.854714 37.02964 20.664062 36.714844 C 19.600814 34.958939 18.988312 32.876911 19 30.507812 C 19.0036 29.835556 19.06195 28.785156 19.173828 27.880859 A 1.50015 1.50015 0 0 0 19.173828 27.878906 C 19.300433 26.850669 18.969047 25.789471 18.234375 25.021484 C 15.769681 22.446314 9.5747171 15.976099 9.2890625 15.677734 C 11.075322 13.425416 13.43404 11.438384 15.892578 9.4960938 z");
      transform: scale(.5);
    }
  }
}