.standardSidebarView-3F1I7i::after {
    content: 'Fluentcord is outdated. Reinstall from https://github.com/doggybootsy/FluentCord/blob/main/Fluentcord.theme.css';
    position: absolute;
    z-index: 100;
    padding: 1rem;
    background: var(--primary-background);
    color: var(--text-normal);
    left: 220px;
    max-width: calc(100vw - 292px);
    display: var(--version-1-0-0, block);
}