.container-2nx-BQ{
    &[style*="67"],&[style*="68"],&[style*="69"],&[style*="70"],&[style*="71"],&[style*="72"],&[style*="73"],&[style*="74"],
    &[style*="75"],&[style*="76"],&[style*="77"],&[style*="78"],&[style*="79"],&[style*="80"],&[style*="81"],&[style*="82"],
    &[style*="83"],&[style*="84"],&[style*="85"],&[style*="86"],&[style*="87"],&[style*="88"],&[style*="89"],&[style*="90"],
    &[style*="91"],&[style*="92"],&[style*="93"],&[style*="94"],&[style*="95"],&[style*="96"],&[style*="97"],&[style*="98"],
    &[style*="99"],&[style*="100"],&[style*="101"],&[style*="102"],&[style*="103"],&[style*="104"],&[style*="105"],&[style*="106"],
    &[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]{
        background: var(--main-color) !important;
        svg>path{
            fill: var(--main-color) !important;
        }
    }
}